//https://www.sololearn.com/learning/1023/2253/4509/1
em{
  background-color: white;
    //  color: navy;
    color: black;
  animation-name : example;
  animation-duration: 4s;
}

.em2{
  background-color: black;
    //  color: navy;
    color: white ;
}

@keyframes example {
   0%  {background-color: white;}
   50%  {background-color: black;}
   70%  {background-color: white;}
   100% {background-color: black;}
}
