//https://www.sololearn.com/learning/1023/2253/4509/1
body{

  -webkit-animation-name : example;
  -webkit-animation-duration: 4s;
}


em{
 // background-color: white;
    //  color: navy;
  
}

.em2{
  background-color: black;
    //  color: navy;
    color: white ;
}
.ko2{
background-color: black;
color:white;
}
//https://stackoverflow.com/questions/24806812/css-keyframes-not-working-in-chrome
@-webkit-keyframes example {
   0%  {background-color: white;}
   50%  {background-color: black;}
   70%  {background-color: white;}
   100% {background-color: black;}
}
